body {
  font-family: "Book Antiqua", Palatino;
  background-image: url('../img/bg.png');
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url('../img/rag.png');
  min-height: 34px;
  background-repeat: repeat-x;
}

.container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

a {
  color: #890101;
  text-decoration: none;
}

/*navbar*/

.nav {
  background-image: url('../img/ornament.png');
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: -20px;
}

.nav ul {
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.nav li {
  display: inline;
  border-bottom: 1px solid;
  border-color: #a8a4a0;
  padding-bottom: 1em;
  width: 33%;
}

.first {
  float: left;
}

.last {
  float: right;
}

.nav a {
  font-size: 10px;
  font-family: sans-serif;
}

/*.logo {
  background-image: url('../img/logo-bg.png');
  background-position: center;
  background-repeat: no-repeat;
}*/


.logo {
  margin-top: 30px;
}

.center-logo {
  max-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro-text p {
  line-height: 1.4;
}

.intro-text h2 {
  text-align: center;
  font-weight: lighter;
}

/*gallery*/

.gallery-title h2 {
  font-weight: lighter;
}

.and {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: normal;
}

.gallery-title {
  min-height: 40px;
  background-image: url('../img/bg.png');
  width: 60%;
  text-align: center;
  position: relative;
  left: 20%;
}

.gallery-tile {
  margin: 5px;
  float: left;
  text-align: center;
  max-width: 45%;
  line-height: 1.1;
  letter-spacing: 0.05em;
}

.gallery-container {
  overflow: auto;
}

.gallery img {
  border-radius: 4px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto 1em;
}

.name {
  font-size: 12px;
  margin-bottom: -15px;
}

.last-name {
  font-weight: bold;
}

/*footer*/

.footer {
  text-align: center;
  font-size: 12px;
  height: 100px;

}

.ornament {
  background-image: url('../img/ornament.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 40px;
  position: relative;
}
