body {
  font-family: "Book Antiqua", Palatino;
  background-image: url('../img/bg.png');
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url('../img/rag.png');
  min-height: 34px;
  background-repeat: repeat-x;
}

.container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  position: relative;
}

a {
  color: #890101;
  text-decoration: none;
}

.master {
  float: none;
  width: auto;
}

/*navbar*/

.nav {
  background-image: url('../img/ornament.png');
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: -20px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
}

.bold {
  display: block;
}

.nav ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.nav li {
  float: left;
  border-bottom: 1px solid;
  border-color: #a8a4a0;
  padding-bottom: 1em;
  width: 30%;
}

.first {
  margin-right: 3%;
}

.last {
  margin-left: 3%;
}

.nav a {
  font-size: 10px;
  font-family: sans-serif;
}


.logo a {
  padding-top: 90px;
  height: 87px;
  display: block;
  text-align: center;

 }

.logo img {
  max-width: 100%;
}

.intro-text p {
  line-height: 1.4;
}

.intro-text h2 {
  text-align: center;
  font-weight: lighter;
}

/*gallery*/

.gallery-title h2 {
  font-weight: lighter;
}

.and {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: normal;
}

.gallery-title {
  min-height: 40px;
  background-image: url('../img/bg.png');
  width: 60%;
  text-align: center;
  position: relative;
  left: 20%;
}

.gallery-tile {
  margin: 5px;
  float: left;
  text-align: center;
  max-width: 45%;
  line-height: 1.1;
  letter-spacing: 0.05em;
}

.gallery-container {
  overflow: auto;
}

.gallery img {
  border-radius: 4px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto 1em;
}

.name {
  font-size: 12px;
  margin-bottom: -15px;
}

.last-name {
  font-weight: bold;
}

/*footer*/

.footer {
  text-align: center;
  font-size: 12px;
  height: 100px;
}

.ornament, .ornament-footer {
  background-image: url('../img/ornament.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 40px;
  position: relative;
}

@media screen and (min-width: 600px) {

.master {
  float: left;
  margin-right: 40px;
}
.logo {
  background-image: url('../img/logo-bg.png');
  background-repeat: no-repeat;
  overflow: auto;
  height: 297px;
  width: 284px;
}
.logo img {
  margin-top: 20px;
  padding-left: 70px;
  display: block;
}

.nav {
  position: relative;
  background: none;
}

.nav a {
  font-family: "Book Antiqua", Palatino;
  text-align: center;
  font-size: 12px;
}

.nav li {
  display: block;
  border-bottom: 1px solid;
  border-color: #a8a4a0;
  padding-bottom: 1em;
  width: 100%;
  padding-top: 1em;
}

.nav ul {
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.first {
  float: none;
  border-top: 1px solid;
  border-color: #a8a4a0;
}

.last {
  float: none;
}

.bold {
  font-weight: bold;
  }

.intro-text h2 {
  font-size: 32px;
}

.gallery-tile {
  max-width: 30%;
}

.ornament-footer, .footer {
  padding-left: 284px;
}

.gallery-title {
  width: 40%;
  left: 30%;
}

.gallery-tile:nth-child(3n+1){
  clear: both;
}

}

@media screen and (min-width: 1300px) {

.master {
  position: absolute;
  float: none;
  width: 100%;
}

.nav {
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 319px;
}

.nav ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.nav li {
  float: left;
  width: 20%;
}

.first {
  margin-right: 5%;
  border-top: none;
}

.last {
  margin-left: 3%;
}
.gallery-tile:nth-child(3n+1){
  clear: none;
}

.gallery-container, .footer, .intro-text  {
  float: right;
  width: 80%;
}
.intro-text {
  margin-top: 8em;
}

.gallery-tile {
  max-width: 15%;
}
/*.gallery {
  margin-left: 5%;
  margin-right: 5%;
}*/
.gallery-tile img {
  display: block;
  max-width: 100%;
  height: auto;
}
.ornament-footer, .footer {
  padding-left: 0px;
}

.footer {
  clear: both;
  float: none;
  margin-left: 50%;
  width: 20%;
}
.gallery-title {
  width: 20%;
  left: 40%;
}

}
